{% if modules %}
<aside id="ttr_sidebar_left">
<div id="ttr_sidebar_left_margin">
<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
<div class="ttr_sidebar_left_padding">
{% for module in modules %}
<div class="ttr_block">
<div class="ttr_block_content">
{{ module }}
</div>
</div>
{% endfor %}
<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
</div>
</div>
</aside>
{% endif %}
